*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  select{
    height:40px;
    size:2;
  }
  
  body {
	color: #384047;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
  }
  
.wrap{
	display: flex;
	height: 100%;

  justify-content: space-between;
  flex-direction: column;
}
.container{
	width: 80%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.panel{
	padding: 1em;
	height: 10em;
	width: 15em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

  form {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
    min-width: 320px;
    margin: 10px auto;
    padding: 10px 10px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  input[type="textarea"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 1rem;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 1rem;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
    display: inline;
  }
  p{
    display: inline;
  }
  a{
    float:right;
    padding:1em;
  }
  form input[type="file"] {
	  margin-bottom: 20px;
  }
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

  
  button, .select__file {
	  cursor: pointer;
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color:   #3a84c1;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #532fd3;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  .reset__file{
	background-color: rgb(91, 167, 202);
	border: 1px solid rgb(179, 235, 245);
  }
  
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
 #input__wrapper {
    display: block;
	width: 100%;
	position: relative;
	margin: 15px 0;
	text-align: center;
  }
   
  .input__file {
	opacity: 0;
	visibility: hidden;
	position: absolute;
  }
   
  .input__file-icon-wrapper {
	height: 60px;
	width: 60px;
	margin-right: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	border-right: 1px solid #fff;
  }
   
  .input__file-button-text {
	line-height: 1;
	margin-top: 0.5rem;
  }
   
  .input__file-button {
	width: 100%;
	cursor: pointer;
	height: 100%;

	background: #3a84c1;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: start;
		-ms-flex-pack: start;
			justify-content: flex-start;
	border-radius: 3px;
	cursor: pointer;
	margin: 0 auto;
  }


  @media screen and (min-width: 375px) {
  
    form {
      max-width: 375px;
    }
  
  }